.songPresentation
{
    -fx-background-color: #D8D8D8;
    -fx-padding: 50;
}
.titleHBox
{
    -fx-font-size: 40px;
    -fx-padding: 50px;
}
.textVBox
{
    -fx-font-size: 20px;
}

.button
{
    -fx-background-color: 	#20B2AA;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}


.titleTextArea *.text
{
    -fx-text-alignment: center;
}

.tempoTextArea
{
    -fx-font-size:15px;
}

.delete-button
{
    -fx-background-color: red;
}